<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HighwayQuiz.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HighwayQuiz.BL.Properties.Settings>
            <setting name="EmailFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SendEmailOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>0</value>
            </setting>
        </HighwayQuiz.BL.Properties.Settings>
    </applicationSettings>
</configuration>