@{
    ViewBag.Title = "About";
}
<h3>Application Description</h3>

<p>
    This is a web application in both VB and C# .NET that reads a list of questions, presents them in
    multiple choice quiz format, and stores the results uniquely for each user.
</p>
<p class="h4">Requirements:</p>
<ul class="text-muted">
    <li>The site must be responsive and render appropriately for desktop and mobile devices alike</li>
    <li>Randomly select only 10 questions from the pool</li>
    <li>Questions should be presented in random order</li>
    <li>Questions can only be presented once in the same quiz</li>
    <li>Allow for both single and multiple-choice answers</li>
</ul>
<p class="h4">The quiz cannot be completed until:</p>
<ul class="text-muted">
    <li>All questions have been answered</li>
    <li>A valid email address has been entered</li>
</ul>
<p class="h4">Bonus:</p>
<ul class="text-muted">
    <li>Allow answer hinting</li>
    <li>Limit to only one quiz per email address</li>
    <li>Grade the results</li>
    <li>Email the results to the quiz taker</li>
</ul>