@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Danny Smith</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:kf4gdn@gmail.com?Subject=HighwayQuiz">kf4gdn@gmail.com</a>
</address>